version: "3.9"
# volumes:
#   deps:
#   _build:
services:
  elixir_tests:
    # build:
    #   context: .
    #   dockerfile: test.Dockerfile
    image: elixir:1.18
    working_dir: /app
    environment:
      MIX_ENV: test
      SYNC_REPORTS_TABLE: asd
      ACTION_ITEMS_TABLE: asd
      TRINITY_DB_VAULT_KEY: PFbK4O5r0GpDMgKQ0tp41PVvBqnxOti+xXw2X3KG4wM=
      # TRINITY_DB_VAULT_KEY_RETIRED: PFbK4O5s0GpDMgKQ0tp41PVvBqnxOti+xXw2X3KG4wM=
    volumes:
      - .:/app
      # - deps:/app/deps
      # - _build:/app/_build
    command:
      - /bin/bash
      - -c
      - |
        mix local.hex --force
        mix local.rebar --force
        # cp -r elixir_cache/deps_cache /app/deps
        # cp -r elixir_cache/_build /app/_build
        mix deps.get
        mix test
